body {
    background: #e4d9fb;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.card-layout {
    display: flex;
    flex-wrap: wrap;        
    gap: 30px;              
    width: 1100px;          
    justify-content: center;
}


.card {
    width: 330px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
}


.top-section {
    width: 100%;
    height: 230px;
    background: #cfc4f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-img {
    width: 100%;
    height: 100%;
}


.bottom-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tags {
    display: flex;
    gap: 8px;
}

.tag {
    background: #eee;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.description {
    font-size: 14px;
    color: #555;
}

.price-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-title {
    font-size: 12px;
    color: gray;
    margin-bottom: -4px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.add-btn {
    background: #6651a3;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
}
