
.layout {
  display: flex;
  gap: 32px;
  padding: 32px;
  font-family: 'Inria Serif', serif;
  color: inherit;
}


.sidebar {
  width: 220px;
  padding: 16px;
  border-right: 1px solid #ccc;
}


.appearanceContainer {
  flex: 1;
}

.themePreviewContainer {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 16px;
}


.themePreview {
  flex: 1;
  min-width: 280px;
  text-align: center;
}


.previewImage {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}


.toggleButton {
  width: 200px;
  height: 55px;
  background-color: white;
  font-family: 'Inria Serif', serif;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
}