.featured-section {
  width: 1000px;
  margin-top: 80px;
}

.featured-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.featured-section h4 {
  font-size: 24px;
  margin-bottom: 40px;
}

.tea-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.tea-item {
  width: 300px;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #333;
  border: 2px solid seashell;
  margin-bottom: 10px;
}
