.footer {
  margin-top: 80px;
  padding: 40px 0;
  background-color: black;
}

.footer h5 {
  font-size: 26px;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}

.footer .copyright {
  margin-top: 20px;
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
}
