.locations-section {
  width: 100%;
  margin-top: 100px;
  padding: 40px 0;
  background-color: black;
  opacity: 1;
}

.locations-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.locations-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.location-card {
  width: 300px;
  background-color: black;
  border: 1px solid seashell;
  padding: 15px;
  line-height: 1.6;
}

.location-card h3 {
  margin-bottom: 15px;
  font-size: 28px;
}
