.mission-section {
  width: 1200px;
  height: 700px;
  background-color: black;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-section h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

.mission-section h4 {
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.5;
}
