.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  padding: 10px 20px;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: seashell;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: seashell;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
}
